@model IEnumerable<OnlineArtGalleryProject.Models.ArtGallery>

@{
    ViewBag.Title = "Index";
}

<h2>Historical Landmarks</h2>

<br />
<hr />
<iframe src="https://www.google.com/maps/d/embed?mid=1PmMDSMtHQnzGMQ8V-SchcXXaHl6ajhE&ehbc=2E312F"width="1300" height="480"></iframe>
@*<img src="https://www.promenadehotel.lv/uploads/files/foto-laumakalnina-3022-1024-682-3000x900.jpg?token=1a7a69b3c68694d74a4daef3a6bbc7ea" style="max-width: 1300px;" />*@
<hr />
<br />
<p>
    @Html.ActionLink("Add new Historical Landmarks", "Create")
</p>
<br />
<table class="table" id="tableArtGalleries">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <img src="@item.ImageURL" style="max-width: 300px; max-height: 300px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                    }

                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#tableArtGalleries").DataTable();
        });
    </script>
}
