@model OnlineArtGalleryProject.Models.ArtGallery

@{
    ViewBag.Title = "Details";
}

<style>
    .rating-stars {
        font-size: 32px;
        margin-top: 10px;
    }

    .star {
        cursor: pointer;
        color: #ccc;
        display: inline-block;
        margin-right: 5px;
        transition: transform 0.2s ease-in-out, color 0.2s ease-in-out; /* Add animation to stars */
    }

    .star-filled {
        color: gold;
        font-size: 32px; /* Match the font size of the unfilled stars */
        animation: blink 1s infinite; /* Blinking animation */
    }

    /* Blinking animation */
    @@keyframes blink {
        0%, 50%, 100% {
            opacity: 1;
        }

        25%, 75% {
            opacity: 0;
        }
    }

    /* Style for comment textarea */
    #commentTextArea {
        width: 100%;
        margin-top: 20px;
    }

    /* Style for submit button */
    #submitCommentBtn {
        margin-top: 10px;
        padding: 8px 16px;
        font-size: 16px;
        background-color: lightgreen;
        color: white;
        cursor: pointer;
    }
</style>

<h2>Details for Historical Landmark</h2>

<!-- Star Rating System -->
<div class="rating-stars">
    <span class="star star-above" data-rating="1">&#9733;</span>
    <span class="star star-above" data-rating="2">&#9733;</span>
    <span class="star star-above" data-rating="3">&#9733;</span>
    <span class="star star-above" data-rating="4">&#9733;</span>
    <span class="star star-above" data-rating="5">&#9733;</span>
</div>

<!-- Comment Textarea -->
<textarea id="commentTextArea" placeholder="Add your comment here"></textarea>

<!-- Submit Button -->
<button id="submitCommentBtn">Submit Comment</button>

<hr />
<div style="background-image: url(https://img.freepik.com/free-photo/fresh-green-textured-stucco-wall-background_23-2148320403.jpg?w=2000);">

    <div class="form-horizontal" style="position: relative; margin-left: 100px;">

        <br /><br />

        <div>
            <h4>Historical Landmark</h4>
            <br />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ImageURL)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ImageURL)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dd>
                    @if (Model.Id == 1)
                    {
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.8436751101563!2d21.245839276059147!3d41.37748097130115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1356cf182f31f177%3A0xd4b1577f47a9010c!2sMakedonium%20-%20Ilinden%20Monument!5e0!3m2!1sen!2smk!4v1701563117493!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    }
                    else if (Model.Id == 2)
                    {
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d770494.6849767597!2d20.213327031250007!3d41.03083750000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135724fddd8ff967%3A0x6b3ae75ad068443c!2sClock%20Tower%2C%20Bitola!5e0!3m2!1sen!2smk!4v1701563171800!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    }
                    else if (Model.Id == 3)
                    {
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2964.9560590907204!2d21.43102367609091!3d42.00121857122861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135415ac30000001%3A0xfc4d0b3f68ae3f03!2sSkopje%20Fortress!5e0!3m2!1sen!2smk!4v1701563484287!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    }
                    else if (Model.Id == 4)
                    {
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3006.0153251726183!2d20.79356347604579!3d41.112356371336126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1350dca4d14c60d7%3A0xdf4e85c9df327971!2sRobev%20Family%20House!5e0!3m2!1sen!2smk!4v1701563510482!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    }
                    else if (Model.Id == 5)
                    {
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.646416645352!2d21.33976727604067!3d41.011111671350214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135724dc9718f1f5%3A0xf70c4a57038c2cf5!2sAncient%20Macedonian%20City%20Heraclea%20Lyncestis!5e0!3m2!1sen!2smk!4v1701563532876!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    }
                    else if (Model.Id == 9)
                    {
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2974.373606317729!2d22.287885576080544!3d41.79871147125075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1355e97ef7bb3af3%3A0x7f4387ad124c409d!2sBargala%20Archaeological%20Site!5e0!3m2!1sen!2smk!4v1701563554999!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    }
                    else if (Model.Id == 11)
                    {
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.3007819206327!2d21.428296776090438!3d41.99381997122925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135415b5a95eb8f5%3A0xc4fa5050af12edfd!2sMother%20Theresa%20Memorial%20House!5e0!3m2!1sen!2smk!4v1701563578361!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    }
                    else if (Model.Id == 13)
                    {
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.085518826639!2d21.430780276090733!3d41.998440171228744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135415b180964c73%3A0x6f002b429d2cb1f4!2sMacedonian%20Holocaust%20Museum!5e0!3m2!1sen!2smk!4v1701563603473!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    }
                    else if (Model.Id == 15)
                    {
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.560273595923!2d21.5361706760583!3d41.361910571303206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1356eb0dde42c92f%3A0xb7acbe91aa923797!2sMarko&#39;s%20Towers%20-%20Markovi%20Kuli!5e0!3m2!1sen!2smk!4v1701563621510!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    }
                    else if (Model.Id == 16)
                    {
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.9964879335894!2d20.7882275760458!3d41.11276777133617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1350dcba31d97223%3A0x73ac40c249a429e1!2z4oCeUGxhb3Nobmlr4oCc!5e0!3m2!1sen!2smk!4v1701563645222!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    }
                    else
                    {
                        <p>No map available for this landmark.</p>
                    }
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        <br />
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".star-above").click(function () {
            var rating = $(this).data("rating");

            // Set the selected rating for stars above
            $(".star-above").removeClass("star-filled");
            $(this).addClass("star-filled").prevAll(".star-above").addClass("star-filled");

            alert("Selected Rating: " + rating);
        });

        $("#submitCommentBtn").click(function () {
            var comment = $("#commentTextArea").val();
            alert("Comment submitted: " + comment);
        });
    });
</script>



