@model IEnumerable<OnlineArtGalleryProject.Models.Artist>

@{
    ViewBag.Title = "Index";
}

<h2>Builder/Designer</h2>
<br />
<hr />
<img src="https://sothebys-md.brightspotcdn.com/73/c3/01d5f26141bf8fa395b4a4394137/125n10637-bsxvx-01-a.jpg" style="max-width: 1300px;" />
<hr />
<br />

<p>
    @Html.ActionLink("Add new Builder/Designer", "Create")
</p>
<br />
<table class="table" id="tableArtists">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biography)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Biography)
                </td>
                <td>
                    <img src="@item.ImageURL" style="width: 150px; height: 150px; border-radius: 50%;" />
                </td>
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                    }

                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script>
        $(document).ready(function () {
            $("#tableArtists").DataTable();
        });
    </script>
}
